<!DOCTYPE html>

<html>
  <head>
    <title>Request Header Parser</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <div id="header">
        <h1>Who are ya?</h1>
        <h2>Request Header Parser Microservice</h2>
      </div>

      <h3>Example Usage:</h3>
      <p>
        <a href="api/whoami">https://whoareya.herokuapp.com/api/whoami</a>
      </p>

      <h3>Example Output:</h3>
      <p>
        <code
          >{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",<br />"software":"Mozilla/5.0 (X11; Ubuntu; Linux
          x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code
        >
      </p>
    </div>
    <div class="footer">
      <p>by <a href="https://www.gerardkeane.xyz">Gerard Keane</a></p>
    </div>
  </body>
</html>
